@font-face {
    font-family: "azuki";
    src: url(azukiB.ttf);
}

body {
    font-family: "azuki";
    background-image: url("images/kuzira.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
#timerText {
    color: #00aaff;
    font-size: 148px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
}

p {
    font-size: 20px;
}

select {
    font-size: 18px;
    padding: 3px;
}

.btn{
    margin-left: 5px;
    display: inline-block;
    font-weight: bold;
    width: 60px;
    padding: 0.5px;
    border-radius: 5px;
    box-shadow: 0 2px 0 #CDC9C9;
    background: #EEE9E9;
    cursor: pointer;
    text-align: center;
}

.delete_btn {
    margin-left: 15px;
    font-weight: bold;
    width: 60px;
    padding: 3px;
    border-radius: 5px;
    background: #FF4500;
    box-shadow: 0 2px 0 red;
    cursor: pointer;
    color: #fff;
}

.container {
    text-align: left;
    padding: 15px;
    background: #7cbad9;
    width: 400px;
    height: 200px;
}

.container p {
    font-size: 16px;
    margin: 5px;
}

.container li{
    margin-bottom: 7px; 
}

.container .kusuri h1 {
    font-size: 20px;
    margin: 5px;
    margin-top: 5px;
    text-align: right;
    padding-top: 10px;
}

.container .kusuri p {
    font-size: 16px;
    margin: 5px;
    text-align: right;
}

